body{
    font-family: Arial, Helvetica, sans-serif;
}
#inscreverse{
    
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Permite definir largura e altura */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    border-radius: 8px; /* Borda arredondada */
    transition-duration: 0.4s; /* Tempo de transição */
}

#detalhe{
    
    background-color: #2f2dc4; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Permite definir largura e altura */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    border-radius: 8px; /* Borda arredondada */
    transition-duration: 0.4s; /* Tempo de transição */
}

#square-image {
    width: 200px; /* Define a largura desejada da imagem */
    height: 200px; /* Define a altura desejada da imagem */
    overflow: hidden; /* Garante que a imagem não ultrapasse as dimensões do contêiner */
    margin-left: 2.4%;
  }
  
#square-image img {
    width: 100%; /* Garante que a imagem preencha completamente o contêiner */
    height: 100%; /* Garante que a imagem preencha completamente o contêiner */
    object-fit: cover; /* Mantém a proporção da imagem e preenche completamente o contêiner */
    
  }

#barraSuperior  {
    margin-left: 45%;
    width: 100px; /* Define a largura desejada da imagem */
    height: 100px; /* Define a altura desejada da imagem */
}
#barraSuperior img {
    
    width: 100%; /* Garante que a imagem preencha completamente o contêiner */
    height: 100%; /* Garante que a imagem preencha completamente o contêiner */
    object-fit: cover; /* Mantém a proporção da imagem e preenche completamente o contêiner */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do contêiner */
    
}
#primeiraFileira{
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre as divs */
    width: 100%;
}
#conteudoUm , #conteudoDois{
    width: 100%;
    margin-top: 10%;
}
